* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../img/11_background.png);
    position: absolute;
    z-index: auto;
}

#layer1 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../img/10_distant_clouds.png);
    position: absolute;
    z-index: 7;
    transform: translate(0%, -10%);
}

#layer2 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../img/01_ground.png);
    position: absolute;
    z-index: 7;
    transform: translate(0%, -30%);
 }
#layer3 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../img/06_hill2.png);
    position: absolute;
    z-index: 4;
    transform: translate(0%, -30%);
}

#layer4 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../img/02_trees_and_bushes.png);
    position: absolute;
    z-index: 6;
    transform: translate(0%, -30%);
}

#player {
    z-index: 20;
    width: 65px;
    height: 100px;
    background-image: url(../img/idle.gif);
    background-size: cover;
    position: absolute;
    left : calc((100% - 75px) / 2);
    top: calc((100% + 75px) / 2);
}


