* {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

body {
    width: 100%;
    height: 100vh;
    background-origin: border-box;
    background-size: cover;
    background-position: center;
    background-image: url(../img/11_background.png);
    position: absolute;
    z-index: auto;
}
/* todo: remove basic elements for standard parallax
/*#clouds {*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-image: url(../img/10_distant_clouds.png);*/
/*    position: absolute;*/
/*    z-index: 7;*/
/*    transform: translate(0%, -10%);*/
/*}*/

/*#hills {*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-image: url(../img/06_hill2.png);*/
/*    position: absolute;*/
/*    z-index: 4;*/
/*    transform: translate(0%, -30%);*/
/*}*/

/*#trees {*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-image: url(../img/02_trees_and_bushes.png);*/
/*    position: absolute;*/
/*    z-index: 6;*/
/*    transform: translate(0%, -30%);*/
/*!*}*!*/

/*#ground {*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-image: url(../img/01_ground.png);*/
/*    position: absolute;*/
/*    z-index: 7;*/
/*    transform: translate(0%, -30%);*/
/* }*/

.Roundground {
    width: 668px;
    height: 654px;
    background-size: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/COOKIE.png);
    position: absolute;
    z-index: 10;
    left : calc((100% - 668px) / 2);
    top: 10vh;
}

.Roundtrees {
    width: 988px;
    height: 990px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/NEWTREE.png);
    position: absolute;
    z-index: 9;
    left : calc((100% - 988px) / 2);
    top: -150px;
}
.Roundhills {
    width: 1401px;
    height: 1400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/RoundHills.png);
    position: absolute;
    z-index: 8;
    left : calc((100% - 1401px) / 2);
    top: -300px;
}
.container {
    background-position-y: 50%;
    bottom: -100px;
    height: 100vh;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}
#up {
    position: fixed;
    top: 0;
    height:50%;
    width:100%;
}
#down {
    position:fixed;
    bottom: 0;
    height:50%;
    width:100%;
    transform: scaleY(-1);
}

#player {
    z-index: 20;
    width: 65px;
    height: 100px;
    background-image: url(../img/idle.gif);
    background-size: cover;
    position: absolute;
    left : calc((100% - 65px) / 2);
    top: calc((100% - 100px) / 2);
}


/* fisheye */
/*.image-cropper {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    border-radius: 50%;*/
/*}*/

/*img {*/
/*    display: inline;*/
/*    margin: 0 auto;*/
/*    height: 100%;*/
/*    width: auto;*/
/*}*/